@using HManAPI.Models
@model HManAPI.Domain.Entities.User.ULoginData
@{
    ViewBag.Title = "Login";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">
                        @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>


                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                            <div class="form-outline form-white mb-4">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-outline form-white mb-4">
                                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>

                            <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                        }
                    </div>

                    <div>
                        <p class="mb-0">
                            Don't have an account? @Html.ActionLink("Register as a new user", "Index","Register")
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>