@using HManAPI.Models
@model HManAPI.Models.ServerModel

@{
    ViewBag.Title = "Create Server";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light " style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">
                        @using (Html.BeginForm("CreateServer", "Server", Model, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-outline mb-4">
                                @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(m => m.players, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.players, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.players, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(m => m.word, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.word, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.word, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-check d-flex justify-content-center mb-4">
                                @Html.CheckBoxFor(m => m.isPublic, new { @class = "form-check-input me-2" })
                                @Html.LabelFor(m => m.isPublic, new { @class = "form-check-label" })
                            </div>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Create Server</button>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}